vender
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
.DS_Store
.AppleDouble
.LSOverride
Icon
manifest.yml

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.db