/* report style */

.report {
    margin-bottom: 10px;
    width: 720px;
    border: solid 1px black;
    padding: 8px;
    word-break: break-word;
}

.report p {
    margin: 8px;
}

.report span{
    margin: 8px;
    margin-right: 16px;
}

.main_wrapper {
    display: flex;
    width: 100%;
}

.main_wrapper ul {
    padding: 0px;
}

.main_wrapper ul li{
    list-style: none;
    margin-bottom: 16px;
}

.main_wrapper a {
    text-decoration: none;
    color: black;
}
