.index4login_wrapper {
    display: flex;
    width: 100%;
}

.index4login_wrapper ul {
    padding: 0px;
}

.index4login_wrapper ul li{
    list-style: none;
    margin-bottom: 16px;
}

.index4login_wrapper a {
    text-decoration: none;
    color: black;
}

.index4login_report {
    margin: 0 auto;
}

/* report style */

.index4login_report article {
    margin-bottom: 10px;
    height: 64px;
    width: 720px;
    border: solid 1px black;
}

.index4login_report article p {
    margin: 4px;
}