.login__title {
  text-align: center;
  padding-top: 48px;
}

.login__a {
  text-decoration-line: underline;
  color: black;
}

.login {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.login__input {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px #9e9e9e;
}
.login__input input {
  margin: 10px;
  font-size: 16px;
  display: block;
  padding: 5px;
  border: solid 1px gray;
  border-radius: 4px;
}

.login__input p {
  margin: 15px;
}

.login__error {
  color: red;
}

.login__input--submit {
  border-radius: 10px;
  border: solid 1px gray;
  width: 460px;
  margin-top: 20px;
  transition: 0.2s;
  padding: 10px;
  background-color: white;
  color: black;
}

.login__input--submit:hover {
  background-color: #42a5f5;
  color: white;
}
