.new_report__form__wrapper {
  text-align: right;
  max-width: 720px;
  margin: 0 auto;
}

.new_report__input__wrapper textarea {
  width: 440px;
  height: 80px;
  border: solid 1px black;
  padding: 8px;
  border-radius: 8px;
  resize: none;
  font-size: 16px;
}

.new_report__input__wrapper input[type="submit"] {
  width: 80px;
  margin-top: 8px;
  padding: 8px;
  background: none;

  transition: 0.2s;
  background-color: white;
  border: solid 1px gray;
  border-radius: 8px;
  color: black;
}

.new_report__input__wrapper input[type="submit"]:hover {
  background-color: #42a5f5;
  color: white;
}
