.search_wrapper {
    max-width: 720px;
    margin: 0 auto;
}

.search_input_wrapper {
    display: flex;
}

.search_input_wrapper input {
    height: 42px;
}

.search_input_wrapper input[type="text"] {
    width: 640px;
}

.search_input_wrapper input[type="submit"] {
    width: 80px;
    padding: 8px;
}
