.mainlogin {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mainsignup {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

a {
  text-decoration-line: underline;
  color: black;
}

.inputspace {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border: solid 1px gray;
}
.inputspace input {
  margin: 10px;
  font-size: 16px;
  display: block;
  padding: 5px;
  border: solid 1px gray;
  background-color: #F9F7F7;
}

.inputspace p {
  margin: 15px;
}
.button {
  border-radius: 10px;
  border: solid 1px gray;
  color: black;
  background: none;
  width: 460px;
  margin-top: 20px;
  transition: 0.2s;
  padding: 10px;
}
.button:hover {
  background-color: #F9F7F7;
}
