<div class="main_wrapper">
    <form action="/change_username" method="post">
      <div>
        <div class="chante_username__input">
          <input type="text" name="new_username" maxlength="20" />
        </div>
        <input
          type="submit"
          value="ユーザー名の変更"
          class="change_username__input--submit"
        />
      </div>
    </form>
  </div>
</div>
