<style>
    .main {
        width: 100%;
        height: 100vh;
        text-align: center;
    }
    a {
        color: black;
    }
</style>

<div class="main">
    <a href="/login">Back to login sceren.</a>
    <div>
        <h2>活動報告ログ</h2>
        <%= @report %>
    </div>
</div>
