<div class="main_wrapper">
  <div>
    <ul>
      <li><a href="/report/new">報告作成</a></li>
      <li><a href="/search">検索</a></li>
      <li><a href="/users/<%= @uid %>">プロフィール</a></li>
      <li><a href="/logout">ログアウト</a></li>
    </ul>
  </div>
  <div class="index4login_report">
    <h2>活動報告ログ</h2>
    <%= @report %>
  </div>
</div>
