<a href="/<%= @uid %>">profile</a>
<form action="/report" method="post">
    <div>
        <input type="text" name="report" maxlength="140" placeholder="コメント">
    </div>
    <input type="submit" value="投稿">
</form>

<form action="/search" method="post">
    <div>
        <input type="text" name="searching_text" maxlength="140" placeholder="検索">
    </div>
    <input type="submit" value="検索">
</form>

<div>
    <h2>活動報告ログ</h2>
    <%= @report %>
</div>

<div>
    <h2>検索結果</h2>
    <%= @searched_result %>
</div>