<div class="main_wrapper">
  <div class="main_nav">
    <ul>
      <li><a href="/"><a href="/login">Back to login sceren.</a></a></li>
    </ul>
  </div>
  <div class="index_report_wrapper">
    <div>
      <h2>活動報告ログ</h2>
      <%= @report %>
    </div>
  </div>
</div>
