
<html>
  <head>
    <title>r0uei</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <h1>r0uei</h1>
  <body style=" max-width: 1200px; margin: 10px auto;">
    <%= yield %>
  </body>
</html>