<form action="/auth" method="post">
    <div>
        名前 <input type="text" name="username" maxlength="20" >
        パスワード <input type="password" name="passwd" maxlength="20" >
        <input type="submit" value="ログイン">
        <div>
            <p><%= @notfounduser %>
        </div
    </div>
    <div>
        <a href="/signup">未登録の方はこちら</a>
    </div
</form>