<h1 style="text-align: center;">ログイン</h1>
<div class="mainlogin">
  <form action="/auth" method="post">
    <div>
      <div class="inputspace">
        <div>
          <p>名前</p>
          <p>パスワード</p>
        </div>
        <div>
          <input type="text" name="username" maxlength="20" />
          <input type="password" name="passwd" maxlength="20" />
        </div>
      </div>
      <input type="submit" value="ログイン" class="button" />
    </div>
    <div style="color: red;">
      <p><%= @notfounduser %></p>
    </div>
    <div style="text-align: center">
      <a href="/signup">未登録の方はこちら</a>
    </div>
  </form>
</div>
