<form action="/auth" method="post">
    <div>
        名前 <input type="text" name="username" maxlength="20" >
        パスワード <input type="password" name="passwd" maxlength="20"
    </div>
    <input type="submit" value="ログイン">
</form>