<form action="/signup" method="post">
    <div>
        名前 <input type="text" name="username" maxlength="20" >
        パスワード <input type="password" name="passwd" maxlength="20" >
        メールアドレス <input type="email" name="email" >
        <input type="submit" value="サインアップ">
    </div>
    <a href="/login">登録済みの方はこちら</a>
</form>